/* Wrapper that keeps everything neat in the middle */
.search-wrapper {
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/* ----------------------- */
/* HEADER ROW — 2 columns */
/* ----------------------- */

.header-row {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: left;
	margin-bottom: 4px;
}

/* ---------------------------- */
/* SEARCH QUERY — 2 identical inputs */
/* ---------------------------- */

.browse-block {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	align-items: center;
	position: relative;
}

/* --------------------------- */
/* PRIVATE SEARCH as one field */
/* --------------------------- */

.private-search {
	width: 100%;
	position: relative;
}

/* INPUTS — equal size */
.browse-block .input-area,
.private-search .input-area {
	width: 100%;
	box-sizing: border-box;
}

/* --------------------------- */
/* SEARCH BUTTON on the right, */
/* but takes up no layout space */
/* --------------------------- */

.private-search .search-btn {
	background-color: var(--primary-color);
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 10px;
	cursor: pointer;
	border-radius: 10px;
	border: none;

	height: 32px;
	padding: 0 10px;
	font-size: 0.8rem;
	border-radius: 8px;
}

.browse-back-btn {
	margin-top: 30px;
	margin-left: 30px;
}
