@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pixel-bg {
  height: 100vh;
  width: 100vw;
  background-color: #1b1025;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f7e6b0;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 1px;
  overflow: hidden; /* hindrer scroll */
}


.game-title {
  font-size: 28px;
  color: #2fc3ff;
  text-shadow: 3px 3px #092d4a;
  margin-bottom: 2rem;
}

.login-container {
  background-color: #2a1d3b;
  padding: 3rem;
  border: 3px solid #6b5b95;
  border-radius: 8px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.pixel-input {
  display: block;
  width: 260px;
  margin: 0.8rem auto;
  padding: 12px;
  background-color: #f5d47a;
  border: 3px solid #3a2c47;
  color: #1b1025;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  outline: none;
}

.pixel-input:focus {
  background-color: #ffe28a;
  border-color: #8b6bb2;
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.pixel-btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px #000;
  box-shadow: 0 4px #222;
  transition: transform 0.1s;
}

.pixel-btn:active {
  transform: translateY(3px);
  box-shadow: 0 2px #111;
}

.pixel-btn.brown {
  background-color: #3c2a14;
}

.pixel-btn.yellow {
  background-color: #e1ad01;
  color: #2a1d3b;
}
