.homepage-container {
  background-color: #0d0b14;
  min-height: 100vh;
  padding: 40px;
  color: #fff;
  font-family: "Press Start 2P", monospace;
  text-align: center;
}

.homepage-header {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 12px;
}

.welcome-user {
  color: #888;
}

.homepage-title {
  color: #7ad3ff;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: 0 0 4px #7ad3ff;
}

.homepage-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.btn-green {
  background: #4cf1c0;
  color: #000;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  box-shadow: 3px 4px 0px #000;
  cursor: pointer;
}

.btn-pink {
  background: #ff9bd5;
  color: #000;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  box-shadow: 3px 4px 0px #000;
  cursor: pointer;
}

.section-block {
  margin-top: 40px;
}

.section-title {
  color: #ffc24f;
  font-size: 18px;
  margin-bottom: 15px;
}

.empty-text {
  color: #ccc;
  font-size: 12px;
}

.story-list {
  list-style: none;
  padding: 0;
}

.story-card {
  background-color: #1b1625;
  width: 50%;
  margin: 10px auto;
  padding: 15px;
  border-radius: 8px;
  font-size: 12px;
}
.story-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.private-code {
  margin-top: 10px;
  font-size: 14px;
  color: #ffea75;
  font-weight: bold;
}
