.homepage-title {
  color: #7ad3ff;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: 0 0 4px #7ad3ff;
}

/* bigger buttons on top of homepage */
.homepage-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.btn-bigHome {
  color: #000;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  box-shadow: 3px 4px 0px #000;
  cursor: pointer;
  transition: all 0.2s;
}

.make { background: #4cf1c0; }
.add { background: #ff9bd5; }

.btn-bigHome:hover {
  filter: drop-shadow(0 0 0.8rem var(--secondary-color));
  transform: scale(1.05);
}


.section-block {
  margin-top: 40px;
}

.section-title {
  color: #ffc24f;
  font-size: 22px;
  margin-bottom: 15px;
}

.empty-text {
  color: #ccc;
  font-size: 12px;
}

.story-list {
  list-style: none;
  padding: 0;
  justify-content: flex-start;
  flex-wrap: wrap;  
  display: flex;
  align-items: center;
  gap: 20px;
}

.story-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  height: 340px;
  margin: 10px auto;
  padding: 15px;
  font-size: 12px;
}

.story-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.private-code {
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 12px;
  color: #ffea75;
  font-weight: bold;
}

.difficulty {
  margin-top: 5px;
  font-size: 12px;
  color: #aaa;
}